<div class="grid" xmlns="http://www.w3.org/1999/html">
  <div class="col-12">
    <div class="card mb-3 p-4">
      <h6 class="mb-0">SETUP</h6>
      <h4 class="mt-0 mb-0">Users</h4>
    </div>
    <div class="card p-4">
      <div class="mb-2">

        <p class="mb-1">User</p>
        <h4 class="mb-1 mt-0">Name</h4>
      </div>

      <p-fieldset legend="User Detail">

        <div class="grid p-4">


          <!-- 1 field -->
          <div class="field col-12 md:col-6 pl-5 pr-5 mt-0 p-0 mb-2">
            <div class="field grid pb-2 border-bottom-1 surface-border mb-0">
              <p class="col-6 mb-2 md:col-2 md:mb-0 label"
              >Name</p
              >
              <div class="col-12 md:col-10">
                <p> Test</p>
              </div>
            </div>
          </div>


          <!-- 1 field -->
          <div class="field col-12 md:col-6 pl-5 pr-5 mt-0 p-0 mb-2">
            <div class="field grid pb-2 border-bottom-1 surface-border mb-0">
              <p class="col-6 mb-2 md:col-2 md:mb-0 label"
              >Title</p
              >
              <div class="col-12 md:col-10">
                <p> Test</p>
              </div>
            </div>
          </div>


          <!-- 1 field -->
          <div class="field col-12 md:col-6 pl-5 pr-5 mt-0 p-0 mb-2">
            <div class="field grid pb-2 border-bottom-1 surface-border mb-0">
              <p class="col-6 mb-2 md:col-2 md:mb-0 label"
              >Username</p
              >
              <div class="col-12 md:col-10">
                <p> Test</p>
              </div>
            </div>
          </div>


          <!-- 1 field -->
          <div class="field col-12 md:col-6 pl-5 pr-5 mt-0 p-0 mb-2">
            <div class="field grid pb-2 border-bottom-1 surface-border mb-0">
              <p class="col-6 mb-2 md:col-2 md:mb-0 label"
              >Email</p
              >
              <div class="col-12 md:col-10">
                <p> Test</p>
              </div>
            </div>
          </div>

          <!-- 1 field -->
          <div class="field col-12 md:col-6 pl-5 pr-5 mt-0 p-0 mb-2">
            <div class="field grid pb-2 border-bottom-1 surface-border mb-0 ">
              <p class="col-6 mb-2 md:col-2 md:mb-0 label"
              >Mobile</p
              >
              <div class="col-12 md:col-10">
                <p> Test</p>
              </div>
            </div>
          </div>


          <!-- 1 field -->
          <div class="field col-12 md:col-6 pl-5 pr-5 mt-0 p-0 mb-2">
            <div class="field grid pb-2 border-bottom-1 surface-border mb-0">
              <p class="col-6 mb-2 md:col-2 md:mb-0 label"
              >Phone</p
              >
              <div class="col-12 md:col-10">
                <p> Test</p>
              </div>
            </div>
          </div>


          <!-- 1 field -->
          <div class="field col-12 md:col-6 pl-5 pr-5 mt-0 p-0 mb-2">
            <div class="field grid pb-2 border-bottom-1 surface-border mb-0">
              <p class="col-6 mb-2 md:col-2 md:mb-0 label"
              >Fax</p
              >
              <div class="col-12 md:col-10">
                <p> Test</p>
              </div>
            </div>
          </div>


          <!-- 1 field -->
          <div class="field col-12 md:col-6 pl-5 pr-5 mt-0 p-0 mb-2">
            <div class="field grid pb-2 border-bottom-1 surface-border mb-0">
              <p class="col-6 mb-2 md:col-2 md:mb-0 label"
              >Role</p
              >
              <div class="col-12 md:col-10">
                <p> Test</p>
              </div>
            </div>
          </div>


        </div>
      </p-fieldset>
    </div>
  </div>
</div>
