<div class="layout-topbar">

  <button
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <a class="layout-topbar-logo" routerLink="">
    <img
      src="assets/layout/images/{{
        layoutService.config().colorScheme === 'light'
          ? 'logo-dark'
          : 'logo-white'
      }}.svg"
      alt="logo"
    />
    <span>Leadify</span>
  </a>


  <button
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible,
    }"
  >
    <button class="p-link layout-topbar-button">
      <i class="pi pi-calendar"></i>
      <span>Calendar</span>
    </button>

    <p-button
      styleClass="p-link layout-topbar-button"
      [rounded]="true"
      (onClick)="op.toggle($event)"
    >
      <i class="pi pi-user"></i>
      <span>User</span>
    </p-button>

    <!--    <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">-->
    <!--      <i class="pi pi-cog"></i>-->
    <!--      <span>Settings</span>-->
    <!--    </button>-->

    <p-overlayPanel #op>
      <p-menu [model]="items" styleClass="w-full md:w-15rem">
        <ng-template pTemplate="submenuheader" let-item>
          <span class="text-primary font-bold">{{ item.label }}</span>
        </ng-template>

        <ng-template pTemplate="item" let-item>
          <ng-container *ngIf="item.routerLink; else elseBlock">
            <a
              [routerLink]="item.routerLink"
              pRipple
              class="flex align-items-center p-menuitem-link"
            >
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
              <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge"/>
              <span
                *ngIf="item.shortcut"
                class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
              >{{ item.shortcut }}</span
              >
            </a>
          </ng-container>

          <ng-template #elseBlock>
            <a [href]="item.url" class="p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
              <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge"/>
              <span
                *ngIf="item.shortcut"
                class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
              >{{ item.shortcut }}</span
              >
            </a>
          </ng-template>
        </ng-template>
        <ng-template pTemplate="end">
          <button
            pRipple
            class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround"
          >
            <p-avatar
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
              class="mr-2"
              shape="circle"
            />

            <span class="inline-flex flex-column">
            <span class="font-bold">Amy Elsner</span>
            <span class="text-sm">Admin</span>
          </span>
          </button>
        </ng-template>
      </p-menu>
    </p-overlayPanel>
  </div>


</div>
