<div class="grid" xmlns="http://www.w3.org/1999/html">
  <div class="col-12">
    <div class="card mb-3 p-4">
      <h6 class="mb-0">SETUP</h6>
      <h4 class="mt-0 mb-0">Users</h4>
    </div>

    <div class="card p-4">
      <p-table
        [columns]="cols"
        [value]="records"
        sortField="fullName"
        [sortOrder]="-1"
        [rowHover]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            All Users
            <p-buttonGroup>
              <p-button
                icon="pi pi-user-plus"
                severity="secondary"
                [outlined]="true"
                size="small"
                routerLink="/setup/administrations/user/new"
              />
              <p-button
                icon="pi pi-refresh"
                severity="secondary"
                [outlined]="true"
                size="small"
                (onClick)="refreshUserList()"
              />
            </p-buttonGroup>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="fullName" style="width: 20%">
              Full Name
              <p-sortIcon field="fullName"/>
            </th>
            <th pSortableColumn="userName" style="width: 20%">
              Username
              <p-sortIcon field="userName"/>
            </th>
            <th pSortableColumn="role" style="width: 20%">
              Role
              <p-sortIcon field="role"/>
            </th>
            <th pSortableColumn="active" style="width: 20%" class="text-center">
              Active
              <p-sortIcon field="active"/>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>
              <a routerLink="{{rowData.id}}" class="font-bold">
                {{ rowData.fullName }}
              </a>
            </td>
            <td>
              {{ rowData.userName }}
            </td>
            <td>
              {{ rowData.role }}
            </td>
            <td class="text-center">
              <i
                class="pi"
                [ngClass]="{
                  'true-icon pi-check-circle text-green-500': rowData.active,
                  'false-icon pi-times-circle text-pink-500': !rowData.active,
                }"
              ></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
